In [80]:
import pandas as pd

In [81]:
df = pd.read_csv("golden_globe_awards.csv")
df1 = pd.read_csv("imdb.csv")

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [82]:
df = df.dropna()
df1 = df1.dropna()

In [83]:
df = df.loc[df["win"] != False]

In [84]:
del df[ 'ceremony']

In [87]:
del df['win']

In [91]:
df.reset_index(drop=True, inplace=True)
df = df
df.to_csv('awards.csv')
# Data from golden_globe_awards is clean and stored in awards.csv file

In [95]:
df1 = df1.loc[df1["language"] == "English"]
df1.reset_index(drop=True, inplace=True)
df1

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0021749,Luci della citt√†,City Lights,1931,2/04/1931,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,...,"Virginia Cherrill, Florence Lee, Harry Myers, ...","With the aid of a wealthy erratic tippler, a d...",8.5,162668,"$1,500,000","$19,181","$46,008",99.0,295.0,122.0
1,tt0027977,Tempi moderni,Modern Times,1936,12/03/1937,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,...,"Charles Chaplin, Paulette Goddard, Henry Bergm...",The Tramp struggles to live in modern industri...,8.5,211250,"$1,500,000","$163,577","$457,688",96.0,307.0,115.0
2,tt0029583,Biancaneve e i sette nani,Snow White and the Seven Dwarfs,1937,30/11/1938,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand",...,"Roy Atwell, Stuart Buchanan, Adriana Caselotti...",Exiled into the dangerous forest by her wicked...,7.6,177157,"$1,499,000","$184,925,486","$184,925,486",95.0,260.0,173.0
3,tt0031381,Via col vento,Gone with the Wind,1939,12/03/1949,"Drama, History, Romance",238,USA,English,"Victor Fleming, George Cukor",...,"Thomas Mitchell, Barbara O'Neil, Vivien Leigh,...",A manipulative woman and a roguish man conduct...,8.1,283975,"$3,977,000","$200,852,579","$402,352,579",97.0,881.0,197.0
4,tt0031679,Mr. Smith va a Washington,Mr. Smith Goes to Washington,1939,5/04/1947,"Comedy, Drama",129,USA,English,Frank Capra,...,"Jean Arthur, James Stewart, Claude Rains, Edwa...",A naive man is appointed to fill a vacancy in ...,8.1,104547,"$1,900,000","$144,738","$144,738",73.0,296.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3852,tt9173418,The Boy - La maledizione di Brahms,Brahms: The Boy II,2020,19/03/2020,"Drama, Horror, Mystery",86,"USA, China, Canada, Australia",English,William Brent Bell,...,"Katie Holmes, Christopher Convery, Owain Yeoma...",After a family moves into the Heelshire Mansio...,4.6,8755,"$10,000,000","$12,611,536","$20,311,536",29.0,203.0,107.0
3853,tt9208444,Impractical Jokers: The Movie,Impractical Jokers: The Movie,2020,28/02/2020,Comedy,92,USA,English,Chris Henchy,...,"Paula Abdul, Joe Gatto, James Murray, Brian Qu...",The story of a humiliating high school mishap ...,5.9,4105,"$3,000,000","$10,691,091","$10,691,091",39.0,152.0,17.0
3854,tt9214832,Emma.,Emma.,2020,27/03/2020,"Comedy, Drama",124,UK,English,Autumn de Wilde,...,"Anya Taylor-Joy, Angus Imrie, Letty Thomas, Ge...","In 1800s England, a well meaning but selfish y...",6.7,19858,"$10,000,000","$10,055,355","$25,659,965",71.0,314.0,188.0
3855,tt9354944,Jexi,Jexi,2019,11/10/2019,"Comedy, Romance",84,"USA, Canada",English,"Jon Lucas, Scott Moore",...,"Adam Devine, Alexandra Shipp, Rose Byrne, Ron ...",A comedy about what can happen when you love y...,6.1,17038,"$5,000,000","$6,546,159","$9,341,824",39.0,234.0,42.0
3856,tt9779516,Cosa mi lasci di te,I Still Believe,2020,19/03/2020,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,"K.J. Apa, Britt Robertson, Nathan Parsons, Gar...",The true-life story of Christian music star Je...,6.5,6196,"$12,000,000","$9,868,521","$13,681,524",41.0,151.0,52.0

In [99]:
df1["film"] = df1["title"]
df2 = pd.merge(df, df1, on= "film")
# data from imbd is now clean and stored in df2

In [100]:
df2.to_csv('merged.csv')